---
import { getCollection } from 'astro:content';
import { CONFIG } from 'site.config.mjs';
import Layout from '@layouts/main.astro';

const seo = {
	title: `vastgoedbeheer | ${CONFIG.SITE_NAME}`,
	description: 'Elementjob Blog Page',
};

const vastgoedBeheerEntries = await getCollection('vastgoedbeheer', ({ data }) => {
  return data.draft !== true;
});
---

<Layout content={seo} activeNav="vastgoedbeheer">
  <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
    <div class="relative isolate overflow-hidden px-6 py-24 text-center sm:px-16">
      <h2 class="mx-auto max-w-2xl text-3xl font-bold tracking-tight text-gray-800 sm:text-4xl">Vastgoedbeheer</h2>
      <div role="list" class="mx-auto mt-16 grid max-w-2xl auto-rows-fr grid-cols-2 gap-4 sm:mt-20 lg:mx-0 lg:max-w-none lg:grid-cols-3">
        {vastgoedBeheerEntries.map((d) => (
          <article class="group/item relative isolate flex flex-col justify-end items-center overflow-hidden rounded-2xl bg-gray-900 px-8 pb-8 pt-20 sm:pt-48 lg:pt-80">
            <img src={d.data.thumbnail} alt="" class="absolute inset-0 -z-10 h-full w-full object-cover" />
            <div class="absolute inset-0 -z-10 bg-gradient-to-t from-gray-900 via-gray-900/40 group-hover/item:via-gray-900/50" />
            <div class="absolute inset-0 -z-10 rounded-2xl ring-1 ring-inset ring-gray-900/10" />
            <h3 class="text-lg font-semibold text-white">
              <a class="group-hover/item:text-primary" href={`/vastgoedbeheer/${d.slug}`}>{d.data.title}</a>
            </h3>
            <p class="hidden md:block mt-2 text-sm text-gray-300">{d.data.description}</p>
          </article>
        ))}
      </div>
    </div>
  </div>
</Layout>